    <div class="form-group">
        <label class="col-sm-3 control-label">Registered players</label>
        <div class="col-sm-9">
			<ol class="form-control-static" id="registered-players">
			{% for attendance in event.attendances %}
				<li date-datetime="{{ attendance.ts|date('c') }}" title="Registered {{ attendance.ts|date('c') }}">
					{% if attendance.user %}<a data-user-id="{{ attendance.user.id }}" href="{{ path('user_profile_view',{_locale:app.request.locale,user_id:attendance.user.id,user_name:attendance.user.username|e('url')}) }}">{{ attendance.user.username }}</a>
					{% else %}<i>{{ attendance.playername }}</i>
					{% endif %}
				</li>
			{% endfor %}
			</ol>
			
			<form action="{{ path('attendance_register',{event_id:event.id}) }}" method="POST"{{ path('attendance_register',{event_id:event.id}) }} id="attendance_register">
			<button type="submit" class="btn btn-primary">Register</submit>
			</form>
    	</div>
    </div>
